*{
    box-sizing: border-box;
    user-select: none;
}
body,header,main{
    font-size: 21px;
    line-height: 46px;
}
body{
    padding: 0;
    margin: 0;
}
a{
    color: #f42;
    text-decoration: none;
}
h1{
    color: #d20;
}
h2{
    font-size: 2.8em;
    color: #f42;
}
#heading{
    background-color: #fff;
    font-size: 2.0em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding-top: 2%;
    height: 100px;
    width: 100%;;
}
#space{
    height: 50px;
}
#heading > *{
    padding: 0;
    margin: 0;
}
.par{
    padding: 7px;
}
.par p{
    color: green;
    font-size: 2.5em;
    line-height: 1.7em;
}
#support_vid video{
    border-radius: 10px;
    width: 100%
}
#image_sector{
    margin: 0px;
    padding: 1% 0px;
}
#image_sector img{
    border-radius: 1%;
    width: 100%;
}
#gallery{
    width: 100%;
}
#gallery section{
    height: 100;
    width: 100%;
}
#image{
    padding: 3px;
}
#image img{
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(200, 70, 30, 0.4);
    object-fit: cover;
    width: 100%;
}
#controls{
    position: absolute;
    height: 0;
}
#controls > section{
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: 550px;
}
#controls button{
    background-color: #fff6;
    color: #fff9;
    font-size: 150%;
    border: none;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
#loader{
    display: flex;
    justify-content: center;
    position: absolute;
    /*height: 0px;*/
    width: 100%;
    /*bottom: 5%;*/
}
#loader > section{
    display: inline-block;
    position: absolute;
    bottom: 10px;
}
.load{
    border: solid 3px #f998;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    /*left: 40%;
    bottom: 10%;*/
    height: 15px;
    width: 15px;
}
#donater{
    display: flex;
    justify-content: center;
    width: 100%;
}
#donater a{
    width: 50%;
}
#donate{
    background-color: #f42;
    font-size: 2.3em;
    border: none;
    border-radius: 20px;
    height: 160px;
    width: 100%;
}
/*#heading,#heading *{border: solid 3px black;}*/
